.myHeader {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.myLogo{
    position: relative;
    left: 30px;
}

.signInButton{
    position: relative;
    right: 30px;
}

.myNavbar{
    width: 100%;
    background: #eee;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.myNavbar a{
    border: 10px;
    padding: 20px;
    font-size: 22px;
}

main{
    background: coral;
}

.mainContent{
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: justify;
}

#favMovies{
    background: cyan;
}

.movieCard{
    background: lightcyan;
    height: 400px;
    width: 500px;
    margin: 20px;
    align-items: center;
}

.movieCard p{
    text-align: center;
}

.moviePoster{
    height: 250px;
    width: 200px;
    align-self: center;
}

figcaption{
    text-align: center;
}